<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="twelve columns">
            <h1>Hello!</h1>
            <h2>About Me</h2>
          </div>
      </div>
      <div class="row">
          <div class="three columns" id="profileImg">
            <script id="profile-img" type="text/x-handlebars-template">
              <img src='{{githubProfileImage}}'>
            </script>
          </div>
          <div class="nine columns" id="profileInfo">
            <script id="profile-info" type="text/x-handlebars-template">
              <p></p>
              <p><strong><a href="http://www.toursbyLily.com">{{name}}</a></strong></p>
              <p><strong>Git Hub:</strong> {{githubLink}}/</p>
              <p><strong>Current City:</strong> {{currentCity}}</p>
              <p></p>
            </script>          
          </div>
      </div>
      <div class="row" id="places">
          <table>
            <tr>
              <td><strong>Description:</strong></td>
              <td></td>
            </tr>
          </table>

      </div>
      <div class="row">
          <form id="newPlaceForm" method="POST" action="/api/places/">
            <label id="formIntro" name="formIntro">Add a new Place:</label>
            <input id="description" name="description" placeholder="Description of Place">
            <input id="town" name="town" placeholder="Town">
            <input id="state" name="state" placeholder="State">
            <input id="country" name="country" placeholder="Country">
            <input type="submit" value="Create Place">
          </form>
      </div>
      <div class="row">
          <div class="twelve columns"><a href="/api">Read My API Documentation</a></div>
      </div>
    </div>
  </body>
</html>
