<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>🍝 Lily's Profile Page 🍝</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container">

      <!-- PAGE TITLE -->
      <div class="row">
        <div class="twelve columns">
          <h1>Hello!</h1>
          <h2>About Me</h2>
        </div>
      </div>

      <!-- PROFILE INFORMATION -->
      <div class="row" id="profile">
        <script id="profile-info" type="text/x-handlebars-template">
          <div class="row">
            <div class="nine columns">  
              <p><strong><a href='{{personalSiteLink}}'>{{name}}</a></strong></p>
              <p><strong>Git Hub:</strong> <a href='{{githubLink}}'>{{githubLink}}</a></p>
              <p><strong>Current City:</strong> {{currentCity}}</p>
              <p><strong>Pets:</strong> 
                  {{#each pets}}
                    {{name}} (Type: {{type}}, Breed: {{breed}})
                  {{/each}}
                  </a>
              </p>          
            </div>
            <div class="three columns" id="profileImg">
              <img src={{githubProfileImage}}>
            </div>
          </div>
        </script>
      </div>

      <!-- LIST OF PLACES --> <!-- {{#each place}} --> <!-- {{/each}} -->
      <div class="row" id="places">
        <script id="place-info" type="text/x-handlebars-template">
          
            <div class="{{_id}} row">
              <div class="three columns">
                <img src="{{photo}}">
                </div>
              <div class="six columns placeInfo">
                <p><strong>Description:</strong> {{description}}</p>
                <p><strong>Place:</strong> {{town}}, {{state}}, {{country}}</p>
                <p><strong>Years Lived There:</strong>  {{years}}</p>
                <p><strong>Lat:</strong> {{gps.lat}} <strong>Long:</strong> {{gps.long}}</p>
              </div>
              <div class="three columns">
                <button type="submit" class="deleteButton" id={{_id}}>DELETE</button>
              </div>
            </div>
          
        </script>
      </div>

      <!-- NEW PLACE FORM -->
      <div class="row">
        <form id="newPlaceForm" method="POST" action="/api/places/">
        <label id="formIntro" name="formIntro">Add a new Place:</label>
        <input id="description" name="description" type="text" placeholder="Description of Place">
        <input id="town" name="town" type="text" placeholder="Town">
        <input id="state" name="state" type="text" placeholder="State">
        <input id="country" name="country" type="text" placeholder="Country"><BR>
        <input id="image" name="image" type="text" placeholder="Image URL">
        <input id="years" name="years" type="number" placeholder="Years Lived There">
        <input id="lat" name="lat" type="text" placeholder="Location: Latitude">
        <input id="long" name="long" type="text" placeholder="Location: Longitude"><BR>
        <input type="submit" value="Create Place">
        </form>
      </div>

      <!-- API DOCUMENTATION -->
      <div class="row">
        <div class="twelve columns"><a href="/api">Read My API Documentation</a></div>
        </form>
      </div>

    </div> <!-- END CONTAINER -->
  </body>
</html>
